<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict>
		<key>/Applications/Microsoft Excel.app</key>
		<dict>
			<key>Application ID</key>
			<string>XCEL15</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft OneNote.app</key>
		<dict>
			<key>Application ID</key>
			<string>ONMC15</string>
			<key>LCID</key>
			<string>1033</string>
		</dict>
		<key>/Applications/Microsoft Outlook.app</key>
		<dict>
			<key>Application ID</key>
			<string>OPIM15</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft PowerPoint.app</key>
		<dict>
			<key>Application ID</key>
			<string>PPT315</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Word.app</key>
		<dict>
			<key>Application ID</key>
			<string>MSWD15</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Skype for Business.app</key>
		<dict>
			<key>Application ID</key>
			<string>MSFB16</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Microsoft Remote Desktop.app</key>
		<dict>
			<key>Application ID</key>
			<string>MSRD10</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Applications/Company Portal.app</key>
		<dict>
			<key>Application ID</key>
			<string>IMCP01</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
		<key>/Library/Application Support/Microsoft/MAU2.0/Microsoft AutoUpdate.app</key>
		<dict>
			<key>Application ID</key>
			<string>MSau04</string>
			<key>LCID</key>
			<integer>1033</integer>
		</dict>
	</dict>
</dict>
</plist>